<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.namanquah.pg2"
        versionCode = "11" 
        version     = "1.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>MWC-BarC3</name>

    <description>
        Demo 3 for MWC fall 2015 - heavy code
    </description>

    <author href="http://www.ashesi.edu.gh" email="namanquah@gmail.com">
        N Amanquah 
    </author>

   	<gap:plugin name="com.phonegap.plugins.barcodescanner"/>
	

</widget>